<h2>Marketplace</h2>

<p>Hey, wecome to the Dino Tunes Marketplace.

Fifty million years ago, ferocious dinosaurs roamed the lands. Now you can buy their sounds!

We went back to record them. Six interns gave their lives to bring you these albums.

Listen to the roar of the Tyrannosaurus, and feel the beauty of the pterodactyl.</p>

<div *ngFor="let album of albums | async"  class="panel panel-default">
  <div class="panel-body">
    <h3 (click)="goToDetailPage(album)"><em>{{album.title}}</em> by {{album.artist}}</h3>
    <div *ngIf="currentRoute === '/admin'">
      {{album.description}}
      <hr>
      <app-edit-album [selectedAlbum]="album"></app-edit-album>
    </div>
  </div>
</div>
